<!DOCTYPE html>
<html>
<body>
	<header data-th-fragment="headerEdit">
      <div>
            <nav class="navbar bg-body-tertiary bg-info-subtle">
                <div class="container">
                    <a class="navbar-brand text-info-emphasis fw-bolder" href="https://www.fi.unju.edu.ar">
                        <img src="/images/logo.png" alt="Logo" width="60" height="54" class="d-inline-block align-text-middle img-fluid">
                        Facultad de Ingeniería UNJu
                    </a>
                </div>
            </nav>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #60449B;">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/principal/index#inicio"><b>Inicio</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/principal/index#acerca"><b>Acerca</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/principal/index#carreras"><b>Carreras</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/principal/index#noticias"><b>Noticias</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contacto"><b>Contacto</b></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="formDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Formularios</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="formDropdown">
                <li><a class="dropdown-item" href="/formularioCarrera">Carreras</a></li>
                <li><a class="dropdown-item" href="/formularioDocente">Docentes</a></li>
                <li><a class="dropdown-item" href="/formularioMateria">Materias</a></li>
                <li><a class="dropdown-item" href="/formularioAlumno">Alumnos</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="formDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Listados</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="formDropdown">
                <li><a class="dropdown-item" href="/mostrarCarreras">Carreras</a></li>
                <li><a class="dropdown-item" href="/mostrarDocentes">Docentes</a></li>
                <li><a class="dropdown-item" href="/mostrarMaterias">Materias</a></li>
                <li><a class="dropdown-item" href="/mostrarAlumnos">Alumnos</a></li>
            </ul>
        </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="formDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <b>Gestion</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="formDropdown">
                <li><a class="dropdown-item" href="/formularioInscripcion">Inscripcion a Materia</a></li>
            </ul>
        </li>
    </ul>
</div>
                    
                </div>
            </nav>
        </div>
	</header>
</body>
</html>
